<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yaari Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css" integrity="sha512-h9FcoyWjHcOcmEVkxOfTLnmZFWIH0iZhZT1H2TbOq55xssQGEJHEaIm+PgoUaZbRvQTNTluNOEfb1ZRy6D3BOw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/homestyle.css">
</head>

<body>
    
    <header>
        <div class="navbar">
            <div class="logo"><a href="#">yarri tracker</a></div>
            <ul class="links">
                <li><a href="hero">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="services">Services</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
            <a href="test.html" class="action-button">Get Started</a>
            <div class="toggle-button"><i class="fa-solid fa-bars"></i></div>
        </div>
        <div class="dropdown">
            <li><a href="hero">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="services">Services</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="test.ejs" class="action-button">Get Started</a></li>
        </div>
    </header>
    
    <main>
        <selection id="hero">
            <div id="map"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.js" integrity="sha512-puJW3E/qXDqYp9IfhAI54BJEaWIfloJ7JWs7OeD5i6ruC9JZL1gERT1wjtwXFlh7CjE7ZJ+/vcRZRkIYIb6p4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <script src="/javascripts/student.js"></script>

        </selection>
    </main>
    <script>
        const toggleButton = document.querySelector('.toggle-button');
        const dropdown = document.querySelector('.dropdown');
        const toggleButtonIcon = document.querySelector('.toggle-button i');
        toggleButton.onclick = function () {
            dropdown.classList.toggle('open');
            const isOpen = dropdown.classList.contains('open');
            toggleButtonIcon.classList = isOpen ? 'fa-solid fa-xmark' : 'fa-solid fa-bars';

        }
    </script>
    
    
</body>

</html>
